<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Spiffy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Spiffy.Properties.Settings>
            <setting name="A1Name" serializeAs="String">
                <value>Account 1</value>
            </setting>
            <setting name="A2Name" serializeAs="String">
                <value>Account 2</value>
            </setting>
            <setting name="A1Username" serializeAs="String">
                <value />
            </setting>
            <setting name="A2Username" serializeAs="String">
                <value />
            </setting>
            <setting name="A1Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A2Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A1EnableInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A2EnableInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A1Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="A2Interval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="A1Label" serializeAs="String">
                <value />
            </setting>
            <setting name="A2Label" serializeAs="String">
                <value />
            </setting>
            <setting name="AppWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="AppRunAtLogon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppAlertEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertSound" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppFeedAddress" serializeAs="String">
                <value>https://mail.google.com/mail/feed/atom</value>
            </setting>
            <setting name="AppStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyServerAuthReq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppWindowSize" serializeAs="String">
                <value>430, 200</value>
            </setting>
            <setting name="AppLogWindowFont" serializeAs="String">
                <value>Tahoma, 8pt</value>
            </setting>
            <setting name="AppLogDefaultFontName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppLogDefaultFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="AppToolStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppMenuStripVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppLogWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppLogTimeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAccountsWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="AppOptionsWindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="AppAlertSliding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTrayIconAlertImage" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTrayIconChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppWindowTitleText" serializeAs="String">
                <value>Spiffy</value>
            </setting>
            <setting name="AppMinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCustomAlertBackgroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertShowDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppAlertHideDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AppAlertTitleColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AppAlertTimeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AppAlertFromColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AppAlertSubjectColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AppAlertMessageColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="AppAlertCloseAreaX" serializeAs="String">
                <value>338</value>
            </setting>
            <setting name="AppAlertCloseAreaY" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AppAlertTitleCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertTitleItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertTitleBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertTitleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertTimeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertFromEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertSubjectEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertMessageEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppEnableCustomAlerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertTitleX" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="AppAlertTitleY" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AppAlertTitleW" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="AppAlertTimeX" serializeAs="String">
                <value>216</value>
            </setting>
            <setting name="AppAlertTimeY" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AppAlertTimeBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertTimeItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertFromX" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="AppAlertFromY" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AppAlertFromW" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="AppAlertFromBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertFromItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertSubjectBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertSubjectItalic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertMessageBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertMessageItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertSubjectX" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="AppAlertSubjectY" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="AppAlertSubjectW" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="AppAlertMessageX" serializeAs="String">
                <value>47</value>
            </setting>
            <setting name="AppAlertMessageY" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="AppAlertMessageW" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="AppAlertTimeW" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AppAlertShowUntilRead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppTrayIconBehaviour" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertsStackAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppCheckForConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppDefaultTrayIcon" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertCustomFont" serializeAs="String">
                <value>Tahoma</value>
            </setting>
            <setting name="AppAlertCustomFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertTimeCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertFromCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertSubjectCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertMessageCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppLogDateTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertDateTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="A1CheckLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A2CheckLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_spiffyVersion" serializeAs="String">
                <value>0.6.1</value>
            </setting>
            <setting name="AppAlertKeepVisibleOnMouseOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertReShowOnMouseOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertMessageLineClickable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppAlertCloseClickable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppPauseInterval" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AppPauseIntervalEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyServerPasswordEncrypted" serializeAs="String">
                <value />
            </setting>
            <setting name="A1GoogleApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A1GoogleAppsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="A2GoogleApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A2GoogleAppsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="A3CheckLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4CheckLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A5CheckLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A3EnableInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4EnableInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A5EnableInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A3GoogleApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4GoogleApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A5GoogleApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A3GoogleAppsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="A4GoogleAppsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="A5GoogleAppsDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="A3Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="A4Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="A5Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="A3Label" serializeAs="String">
                <value />
            </setting>
            <setting name="A4Label" serializeAs="String">
                <value />
            </setting>
            <setting name="A5Label" serializeAs="String">
                <value />
            </setting>
            <setting name="A3Name" serializeAs="String">
                <value>Account 3</value>
            </setting>
            <setting name="A4Name" serializeAs="String">
                <value>Account 4</value>
            </setting>
            <setting name="A5Name" serializeAs="String">
                <value>Account 5</value>
            </setting>
            <setting name="A3Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A4Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A5Password" serializeAs="String">
                <value />
            </setting>
            <setting name="A3Username" serializeAs="String">
                <value />
            </setting>
            <setting name="A4Username" serializeAs="String">
                <value />
            </setting>
            <setting name="A5Username" serializeAs="String">
                <value />
            </setting>
            <setting name="AppShowUnreadInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppShowUnreadInTrayAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="AppShowUnreadAccountInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppEnableCustomTrayIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCustomTrayIconDefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppCustomTrayIconNewmailIconPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppShowLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppCheckforMailonStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppLogWindowBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="AppLogWindowForeColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="AppCustomGmailLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="AppCustomGmailLocationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppSpiffyDateFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCheckVersionOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppTrayIconBehaviourNr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="AppDefaultTrayIconNr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppTrayIconAlertImageNr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppShowUnreadInTrayAccountNr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppAlertMessageH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppAlertSubjectH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppAlertFromH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppAlertTimeH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppAlertTitleH" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppAlertCloseAreaW" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AppAlertCloseAreaH" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DebugLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysHideMainWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCustomBrowserEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCustomBrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AppAlertSoundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A1CustomAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="A1CustomAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A2CustomAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="A3CustomAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="A4CustomAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="A5CustomAlert" serializeAs="String">
                <value />
            </setting>
            <setting name="A2CustomAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A3CustomAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A4CustomAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A5CustomAlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppAlertShowNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppTraySingleClick" serializeAs="String">
                <value>False</value>
            </setting>
        </Spiffy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
